/*--------------*/
/*contacto formulario*/
/*---------------*/
.body-contac {
  background-image: url(../assets/tablet.jpg);
  background-position: center center;
}
.form {
  max-width: 800px;
  margin: 0 auto;
  color: $background-color;
}
